.jumbotron {
  padding-top: 6rem;
  background-color: #b188fc;
}

#Aboutus {
  background-color: #b188fc;
}

#penutup {
  background-color: #b188fc;
}

section {
  padding-top: 5rem;
}
